-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: strayanimalrescue
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adoption`
--

DROP TABLE IF EXISTS `adoption`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adoption` (
  `reqId` varchar(36) NOT NULL,
  `reqdate` varchar(30) DEFAULT NULL,
  `userId` varchar(36) DEFAULT NULL,
  `animalId` varchar(36) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `contact` varchar(15) DEFAULT NULL,
  `status` varchar(30) DEFAULT 'Pending',
  PRIMARY KEY (`reqId`),
  KEY `userId` (`userId`),
  KEY `contact` (`contact`),
  KEY `animalId` (`animalId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adoption`
--

LOCK TABLES `adoption` WRITE;
/*!40000 ALTER TABLE `adoption` DISABLE KEYS */;
INSERT INTO `adoption` VALUES ('3e19e39b-2f61-4767-b3e1-483075d09384','2025-10-21T20:04:07.627918800Z','18ca05e1-7e2a-4d58-9d29-59532118e151','ec43498d-2224-41e9-9b74-3a312b85d5af','TestUser2','1234567891','Pending'),('8dbb9baf-21df-49f7-90fb-7afa41363f56','2025-10-21T18:38:24.222283300Z','18ca05e1-7e2a-4d58-9d29-59532118e151','0cf4b484-0c52-41d9-8d4d-0e1201ce713c','TestUser2','12345','Pending'),('aa9ee9ed-7112-4836-869e-c8ca38b2527b','2025-10-21T19:58:15.182197500Z','18ca05e1-7e2a-4d58-9d29-59532118e151','ec43498d-2224-41e9-9b74-3a312b85d5af','TestUser2','1234567891','Pending');
/*!40000 ALTER TABLE `adoption` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animals`
--

DROP TABLE IF EXISTS `animals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `animals` (
  `animalId` varchar(36) NOT NULL,
  `specifications` varchar(200) DEFAULT NULL,
  `photourl` varchar(250) DEFAULT NULL,
  `medreport` varchar(250) DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`animalId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animals`
--

LOCK TABLES `animals` WRITE;
/*!40000 ALTER TABLE `animals` DISABLE KEYS */;
INSERT INTO `animals` VALUES ('ec43498d-2224-41e9-9b74-3a312b85d5af','NAME:Lyka\nAGE:2\nGender:F\nCharacteristics:blond haired','www.photo.com','fine','available');
/*!40000 ALTER TABLE `animals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicalrec`
--

DROP TABLE IF EXISTS `medicalrec`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicalrec` (
  `mrecId` varchar(36) NOT NULL,
  `animalId` varchar(36) DEFAULT NULL,
  `treatment` varchar(200) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `notes` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`mrecId`),
  KEY `animalId` (`animalId`),
  CONSTRAINT `medicalrec_ibfk_1` FOREIGN KEY (`animalId`) REFERENCES `animals` (`animalId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicalrec`
--

LOCK TABLES `medicalrec` WRITE;
/*!40000 ALTER TABLE `medicalrec` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicalrec` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngos`
--

DROP TABLE IF EXISTS `ngos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ngos` (
  `userId` varchar(36) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contact` varchar(15) DEFAULT NULL,
  `organizationName` varchar(200) DEFAULT NULL,
  `contactNumber` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`userId`),
  KEY `contact` (`contact`),
  KEY `name` (`name`),
  KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngos`
--

LOCK TABLES `ngos` WRITE;
/*!40000 ALTER TABLE `ngos` DISABLE KEYS */;
INSERT INTO `ngos` VALUES ('0d78ec26-ac42-4cfe-8290-16d72e4a194f','TestUser2','user2@gmail.com','9876543210',NULL,NULL),('5462be2e-4e82-45c7-a09e-1c4a025ac289','TestUser2','user2@gmail.com','9876543210',NULL,NULL),('7419b686-8e7d-425e-bfa2-1e35f131485b','TestUser2','user2@gmail.com','9876543210',NULL,NULL),('a09fe52f-0e27-4896-b5ac-2e8047612f8c','TestUser2','user2@gmail.com','9876543210',NULL,NULL),('ace1690c-8cec-49c9-9411-68651295c8e4','TestUser2','user2@gmail.com','9876543210',NULL,NULL),('ff005195-ddd8-435f-961c-523ce69c8d88','TestUser2','user2@gmail.com','9876543210',NULL,NULL);
/*!40000 ALTER TABLE `ngos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifiable_entities`
--

DROP TABLE IF EXISTS `notifiable_entities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifiable_entities` (
  `notifiableId` varchar(36) NOT NULL,
  `entityType` varchar(50) NOT NULL,
  `referenceId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`notifiableId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifiable_entities`
--

LOCK TABLES `notifiable_entities` WRITE;
/*!40000 ALTER TABLE `notifiable_entities` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifiable_entities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notificationId` varchar(36) NOT NULL,
  `message` varchar(255) NOT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(20) DEFAULT 'Unread',
  `receiverId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`notificationId`),
  KEY `receiverId` (`receiverId`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`receiverId`) REFERENCES `users` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `notifications_ibfk_2` FOREIGN KEY (`receiverId`) REFERENCES `system_administrators` (`adminId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `description` varchar(200) DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  `animalId` varchar(36) DEFAULT NULL,
  `reporterId` varchar(36) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `reportId` varchar(36) NOT NULL,
  `photoUrl` varchar(250) DEFAULT NULL,
  `location` varchar(200) DEFAULT NULL,
  `urgency` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`reportId`),
  KEY `fk_animal` (`animalId`),
  KEY `fk_reporter` (`reporterId`),
  CONSTRAINT `fk_animal` FOREIGN KEY (`animalId`) REFERENCES `animals` (`animalId`),
  CONSTRAINT `fk_reporter` FOREIGN KEY (`reporterId`) REFERENCES `users` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_administrators`
--

DROP TABLE IF EXISTS `system_administrators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_administrators` (
  `adminId` varchar(36) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(100) NOT NULL,
  `contact` varchar(15) DEFAULT NULL,
  `role` varchar(50) DEFAULT 'System Administrator',
  PRIMARY KEY (`adminId`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_administrators`
--

LOCK TABLES `system_administrators` WRITE;
/*!40000 ALTER TABLE `system_administrators` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_administrators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks` (
  `taskId` varchar(36) NOT NULL,
  `description` varchar(200) DEFAULT NULL,
  `userId` varchar(36) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `contact` varchar(15) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`taskId`),
  KEY `userId` (`userId`),
  KEY `name` (`name`),
  KEY `contact` (`contact`),
  CONSTRAINT `tasks_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `volunteers` (`userId`),
  CONSTRAINT `tasks_ibfk_2` FOREIGN KEY (`name`) REFERENCES `volunteers` (`name`),
  CONSTRAINT `tasks_ibfk_3` FOREIGN KEY (`contact`) REFERENCES `volunteers` (`contact`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `userId` varchar(36) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contact` varchar(15) DEFAULT NULL,
  `role` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`userId`),
  UNIQUE KEY `contact` (`contact`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('18ca05e1-7e2a-4d58-9d29-59532118e151','TestUser2','user2@gmail.com','1234567891','User'),('1a09fb26-27e1-4cef-8a5f-1e06c1496cd1','TestUser1','user1@gmail.com','10987652','User'),('8945982b-c823-4911-a6bb-e40c2a2e2a44','TestUser3','user3@gmail.com','8137651280','Ngo'),('9d68657c-a43b-429a-bdee-07881a917fd4','TestUser5','user5@gmail.com','9845958547','Volunteer'),('c0dd5650-2422-4bac-9b26-cb671d341fd7','TestUser4','user4@gmail.com','9846958547','Admin');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers`
--

DROP TABLE IF EXISTS `volunteers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers` (
  `userId` varchar(36) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contact` varchar(15) DEFAULT NULL,
  `availability` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`userId`),
  KEY `contact` (`contact`),
  KEY `name` (`name`),
  KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers`
--

LOCK TABLES `volunteers` WRITE;
/*!40000 ALTER TABLE `volunteers` DISABLE KEYS */;
INSERT INTO `volunteers` VALUES ('0359564a-e0a2-492f-a89f-2211518313ea','TestUser2','user2@gmail.com','12345','available'),('17f7cfb3-fb65-4010-9092-ed59f614f030','TestUser2','user2@gmail.com','12345','available'),('67c36ec9-a4d5-4d5a-9bad-234f2e180607','TestUser2','user2@gmail.com','12345','available'),('a654098b-269c-479a-a97b-8bb8cc2cdcda','TestUser2','user2@gmail.com','12345','available');
/*!40000 ALTER TABLE `volunteers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-22 10:38:14
